extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#', 'Settings', 'settings')
          if (role === 'user')
            +navItem('/bidding', 'My bidding', 'star')
          else if (role === 'admin')
            +navItem('/queries', 'Customer Queries', 'mail', true)

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Reply

          h3 Name
          p= `${query.queryName}`

          h3 Subject
          p= `${query.querySubject}`

          h3 Message
          p= `${query.queryMessage}`

          h3 Reply
          form(class="form--replyQuery")
            input#queryId(type="hidden" value=`${query._id}`)
            div.mb-3
                label.form-label(for='replyMessage') Reply Message
                textarea#replyMessage.form-control(rows="3", required)
            div
                button(type="submit" class="btn-xsmall btn-xgreen") Send

                    