extends base

mixin navItem(link, text, icon, active, id)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`, id=`${id ? id : ''}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content

  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#', 'Settings', 'settings', true)
          if (role === 'user')
            +navItem('/bidding', 'My Bidding', 'star')
            +navItem('/getFavouriteProperties', 'Favourite Properties', 'heart')
            +navItem('/myProperty', 'Purchased Property', 'home', false, 'my-property-link')
            +navItem('/rentalApplications', 'Rental Application', 'mail')
            +navItem('/myRentalProperty', 'Rented Properties', 'lock')
          else if (role === 'admin')
            +navItem('/queries', 'Customer Queries', 'mail')
            +navItem('/addAdmin', 'Add new admin', 'user')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
              input.form__upload(type='file', accept='image/*', id='photo', name='photo')
              label(for='photo') Choose new photo
              
            .form__group.right
              button.btn-small.btn-xgreen Save settings
              
        .line &nbsp;
        
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$", required)
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$")
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$", required)
            .form__group.right
              button.btn-small.btn-xgreen.btn--save-password Save password