extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          +navItem('/bidding', 'My bidding', 'star')
          +navItem('/getFavouriteProperties', 'Favourite Properties', 'heart')
          +navItem('/myProperty', 'Purchased property', 'home')
          +navItem('/rentalApplications', 'Rental Applications', 'mail')
          +navItem('#', 'Manage Rental', 'lock', true)

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your current rental properties

          table.table.table-responsive
            thead
                tr
                    th(scope='col') Address
                    th(scope='col') Next pay date
                    th(scope='col') Pay 
                    th(scope='col') Renew / End contract
            tbody
                each property in properties
                    tr
                        th(scope='row')
                            =`${property.address}, ${property.city}`
                        td #{property.nextPayDate.toLocaleDateString()}
                        td
                            a.btn-xsmall.btn-xgreen.pay-rent-btn(data-propertyid=`${property._id}`,data-rent=`${property.rent}`, data-tokenId=`${property.nftContract}`) Pay Rent
                        if(property.contractExpires > Date.now())
                            td
                              a.btn-xsmall.btn-red.end-contract-btn(data-propertyid=`${property._id}`, data-tokenId=`${property.nftContract}`) End Contract
                        else if (property.contractExpires < Date.now())
                            td
                              a.btn-xsmall.btn-red.end-contract-btn(data-propertyid=`${property._id}`, data-tokenId=`${property.nftContract}`) End
                              a.btn-xsmall.btn--green.renew-contract-btn(data-propertyid=`${property._id}`, data-tokenId=`${property.nftContract}`) Renew