extends base

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section
    #carouselExampleControls.carousel.slide.w-75.text-center.center.mx-auto.vh-50(data-bs-ride='carousel')
      .carousel-inner.vh-50
        .carousel-item.active
          img.d-block.w-100.carousel-fill(src=`/img/properties/large/${property.listingNum}/${property.imageCover}`, alt=`${property.imageCover}`)
        //- .carousel-item
        //-   img.d-block.w-100(src='...', alt='...')
      button.carousel-control-prev(type='button', data-bs-target='#carouselExampleControls', data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button', data-bs-target='#carouselExampleControls', data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next

    .heading-box
        h1.heading-primary
          span= `${property.address}`
        .heading-box__group
          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-map-pin')
            span.heading-box__text= property.city

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Details
    
          - const date = property.createdAt
          // +overviewBox('Date added', String(date), 'calendar')
          +overviewBox('Price', `${property.biddingPrice} ETH`, 'star')
          +overviewBox('Property Style', `${property.propertyStyle}`, 'star')
          +overviewBox('Number of Bedrooms', `${property.numBedroom} bedrooms`, 'star')
          +overviewBox('Number of Bathrooms', `${property.numBathroom} bathrooms`, 'star')
          +overviewBox('Listing Number', `${property.listingNum}`, 'star')
          +overviewBox('Garage Type', `${property.garageType}`, 'star')
          +overviewBox('Garage Size', `${property.garageSize}`, 'star')
          +overviewBox('Ber Rating', `${property.berRating}`, 'star')
          +overviewBox('Square Feet', `${property.squareFeet}`, 'star')
          +overviewBox('Lot Size', `${property.lotSize}`, 'star')
          +overviewBox('Property Views', `${property.propertyViews}`, 'star')

    .description-box
      h2.heading-secondary.ma-bt-lg= `Description`
      - const parapraphs = property.description.split('\n');
      each p in parapraphs
        p.description__text= p

  h2.heading-secondary.ma-bt-lg.text-center Map
  br
  .w-75.mx-auto.text-center
    iframe.mb-5(src=`https://www.google.com/maps?q='${property.address},${property.city}'&output=embed`, width='800', height='600', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')

  if !property.propertySold

    if (user && role==="user")
      div(class="w-75 mx-auto my-5")  
          h2(class="my-3 heading-secondary ma-bt-lg")=`Current Bidding: ${property.biddingPrice} ETH`
          if user.id !== property.currentHighestBidder
            form(class="form--bidding")
              div.mb-3  
                label.form__label(for='biddingAmount') Place your bid now! (Minimum 3 Eth higher than original bid)
                input#biddingAmount.form__input(type='Number', placeholder=`${property.biddingPrice + 3}`, min=property.biddingPrice + 3, required)
              input#curPropertyAddress.form-control(type='hidden', value=`${property.address}`)
              input#curTokenId.form-control(type='hidden', value=`${property.nftContract}`)
              input#curUser.form-control(type='hidden', value=`${user.id}`)
              div
                button(type="submit" class="btnn btn--green") Place Bid
          else
            p You are the highest bidder now!
      
    if(role==="user")
      section.section-cta
        .cta
          .cta__img.cta__img--logo
            img(src='/img/logo-white.png', alt='logo')
          .cta__content
            h2.heading-secondary What are you waiting for?
            p.cta__text= `Make this dream house yours!`
            
            if user
              if isFavorite === true
                a.btn-small-red.span-all-rows.remove-from-favourite(data-slug=`${property.slug}`)
                  i.fas.fa-heart
                  | Remove from favorite
              else 
                a.btn-small-red.span-all-rows#add-to-favourite(data-slug=`${property.slug}`)
                  i.fas.fa-heart
                  | Add to favorite
            else
              a.btnn.span-all-rows(href='/login') Log in
  
  if(role==="admin")
    section.section-cta
        .cta  
          .cta__img.cta__img--logo
            img(src='/img/logo-white.png', alt='logo')
          .cta__content
            h2.heading-secondary Edit the property

            a.btn-small.span-all-rows(href=`/property/edit/${property.slug}`)
              | Edit
    